body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
        height:70px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  
  nav ul li a:hover {
    border-bottom: 2px solid #4caf50;
  }
  .main-div{
    display: flex;
    flex-direction: row;
  }
  .event1{
    width:60%;
    margin-top:50px;
    margin-left:30px;
  }
  .profile{
    width:40%;
  }
  .event1-img{
    width:280px;
  }
  .card-title{
    font-size:30px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    letter-spacing: 1.5px;
    font-family: Arial, Helvetica, sans-serif;

  }
  